

.home{
    width: 100%; 
    height: 100vh;
    text-align: center;  
    display: flex;
    overflow-y: hidden;
    
    
  @media (max-width:520px){
   flex-direction: column-reverse;
   overflow-y: scroll;
   height: auto;
  }
    
}


