
.right{
    width: 70%;
    height: 100%;
    background-color: #E1EBF5;
    padding: 20px ;
    border: 1px solid black;

    &__bar{
        display: inline-block;
        margin: 5px ;
        box-sizing: border-box;
    }

    @media (max-width:580px) {
        width: 100%;
        height: 400px;
        padding: 5px;

        &__bar{
            margin: 1px;
        }
    }
    
}